@import '../../styles/variables.scss';

.container {

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  margin-bottom: 10px;

  h1 {
    font-size: 20px;
    font-weight: 500;
  }
  
  .icon {
    cursor: pointer;
    font-size: 18px;
  }
}
