@import "src/styles/variables";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;

  background-color: $light-theme-dark-blue;
}

.content {
  width: 340px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 160px;
  padding: 0 50px;
  padding-top: 80px;
  padding-bottom: 60px;
  color: $light-theme-dark-blue;
  font-weight: 500;
  background-color: $white;
  box-shadow: 0 5px 25px 4px darken($light-theme-dark-blue, 50%);
  border-radius: 5px;
}

.logo {
  text-align: center;

  img {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 35px;
    font-weight: 600;
  }
}

.form {
  width: 100%;
  margin-top: 80px;
}

.controls {
  width: inherit;
  margin-bottom: 20px;


  input {
    width: 90%;
    margin-left: 8px;
  }
}

.submit-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.submit-button {
  width: 50%;
  cursor: pointer;
  margin: 0 10px;
  margin-top: 20px;
  padding: 12px 0;
  color: $white;
  background-color: $light-theme-dark-blue;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color $transition-fast;
  outline: none;
  border: none;

  &:hover {
    background-color: lighten($light-theme-dark-blue, 20%);
    outline: none;
    border: none;
  }
}