@import "../../../styles/variables.scss";

.container {
  width: 100%;
}

.patients-container {
  background-color: $white;
  border-radius: 4px;
}

.pl {
  padding-left: 30px;
}

.iconInfo {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  color: $light-theme-dark-blue;
  border-radius: 30px;
  transition: background-color $transition-fast, color $transition-fast;

  &:hover {
    color: $white;
    background-color: $light-theme-dark-blue;
  }
}

.row {
  width: 100%;
}

.cell {
  border: 1px solid $light-theme-light-grey;
}

.no-patients {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  padding: 40px 0;
}