@import "../../../styles/variables.scss";

.container {
  width: 100%;
}

.patients-container {
  background-color: $white;
  border-radius: 4px;
}

.pl {
  padding-left: 30px;
}

.iconInfo {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  color: $light-theme-dark-blue;
  border-radius: 30px;
  transition: background-color $transition-fast, color $transition-fast;

  &:hover {
    color: $white;
    background-color: $light-theme-dark-blue;
  }
}

.row {
  width: 100%;
}

.cell {
  border: 1px solid $light-theme-light-grey;
}

.no-patients {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  padding: 40px 0;
}

.delete-modal {
  width: 400px;
  height: 210px;
  padding-top: 30px;

  h1 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }

  h3 {
    margin-top: -8px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  button {
    &:first-of-type {
      margin-right: 10px;
    }

    &:last-of-type {
      margin-left: 10px;
    }
  }
}