// Color Variables
// common
$white: #fff;

// light theme colors
$light-theme-light-grey: #F9FAF9;
$light-theme-dark-blue: #293D62;

//dark theme colors
$dark-theme-grey: #F9FAF9;
$dark-theme-dark-grey: #252524;