@import "../../styles/variables.scss";

.layout {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: $light-theme-light-grey;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 1px solid $white;
  background-color: $light-theme-dark-blue;
}


.logo {
  margin-top: 20px;
  margin-left: 40px;
  padding-left: 10px;
  font-size: 40px;
  font-weight: 300;
  color: $white;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
}

.link {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 20px;
  color: $white;
  text-decoration: none;
  transition: color $transition-fast;


  .icon {
    font-size: 28px;
    padding: 5px;
    border-radius: 5px;
    transition: color $transition-fast, background-color $transition-fast;
  }

  p {
    margin: 0;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 300;
  }

  &:hover {
    color: $white-hover;

    .icon {
      color: $light-theme-dark-blue;
      background-color: $white;
    }
  }
}

.logOut {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  font-weight: 400;

  p {
    margin-top: -5px;
  }
}

.toggle {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 290px;
  padding: 10px;
  color: $white;
  font-size: 30px;
  border-radius: 5px;
  transition: background-color $transition-medium, color $transition-medium;

  &:hover {
    background-color: $white;
    color: $light-theme-dark-blue;
  }
}

.header-container {
  width: 100vw;
  height: 50px;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: $light-theme-dark-blue;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $white;
  margin-right: 40px;

  .header-title {
    cursor: pointer;
    margin: 0;
    padding-right: 30px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .header-avatar {
    cursor: pointer;
    background-color: $white;
    width: 40px;
    height: 40px;
    border-radius: 30px;
  }
}

.children {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
}