@import '../../../styles/variables.scss';

.button {
  //@include flex(center, center);

  width: fit-content;
  white-space: nowrap;
  border: none;
  outline: none;
  cursor: pointer;
  transition: $transition-fast;
  border-radius: 12px;

  &-size {
    &--lg {
      height: 60px;
      padding: 0 24px;
      font-size: 18px;
      font-weight: 700;
    }

    &--md {
      height: 48px;
      padding: 0 20px;
      font-size: 18px;
      font-weight: 700;
    }

    &--sm {
      height: 36px;
      padding: 0 16px;
      font-size: 14px;
      font-weight: 700;
    }

    &--xs {
      height: 28px;
      padding: 0 12px;
      font-size: 10px;
      font-weight: 700;
    }
  }

  &-theme {
    &--primary {
      color: #fff;
      background-color: $light-theme-dark-blue;;
      transition: background $transition-fast ease-out;

      &:hover {
        background-color: $light-theme-dark-blue-hover;
      }
    }

    &--secondary {
      color: #aaaaaa;
      background: #f4f4f4;

      &:hover {
        background: #efefef;
      }
    }

    &--teritary {
      color: #000;
      background: #fff;
      border: 1px solid #000000;

      &:hover {
        color: #aaa;
        border-color: #aaa;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: #ccc;
  }
}
