@import "../../styles/variables";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;

  background-color: $light-theme-dark-blue;
}

.content {
  width: 340px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 160px;
  padding: 0 50px;
  padding-top: 80px;
  padding-bottom: 60px;
  color: $light-theme-dark-blue;
  font-weight: 500;
  background-color: $white;
  box-shadow: 0 5px 25px 4px darken($light-theme-dark-blue, 50%);
  border-radius: 5px;
}

.logo {
  text-align: center;

  img {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 35px;
    font-weight: 600;
  }
}

.form {
  margin-top: 80px;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  input {
    outline: none;
    border: 2px solid $light-theme-dark-blue;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    color: $light-theme-dark-blue;
    transition: border 0.1s;


    &::placeholder {
      font-size: 20px;
      font-weight: 400;
      color: $light-theme-dark-blue;
    }

    &:focus {
      border: 2px solid lighten($light-theme-dark-blue, 30%);
    }
  }
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  padding: 12px 0;
  color: $white;
  background-color: $light-theme-dark-blue;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color $transition-fast;
  outline: none;
  border: none;

  &:hover {
    background-color: lighten($light-theme-dark-blue, 20%);
    outline: none;
    border: none;
  }
}