@import '../../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 25px;
  font-size: 90%;
  font-weight: 600;
}

.page {
  cursor: pointer;
  padding: 10px;
  margin: 0 3px;
  border-radius: 8px;
  transition: background-color 0.2s;
  outline: none;

  &:hover {
    background-color: $light-theme-dark-blue;
    color: $white;
    outline: none;
  }

  &--true {
    padding: 10px;
    margin: 0 3px;
    border-radius: 8px;
    color: #fff;
    background: $light-theme-dark-blue;
  }
}

.buttons {
  cursor: pointer;
  background-color: #fff;
  padding: 10px 0;
  margin: 0 5px;
  outline: none;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: $white;

    a:hover,
    a:active {
      background-color: $white;
      color: #000;
    }
  }

  &--link {
    padding: 10px 15px;
    outline: none;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: $light-theme-dark-blue;
      color: $white;
    }
  }
}
